<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RifatDiplom.Properties.Settings.DispetcherConnect"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\projects\RifatDiplom\RifatDiplom\Data\DispatcherData.mdf;Integrated Security=True" />
        <add name="RifatDiplom.Properties.Settings.OrderConnect" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\projects\RifatDiplom\RifatDiplom\bin\Release\Data\OrderData.mdf;Integrated Security=True" />
        <add name="RifatDiplom.Properties.Settings.OrderDataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data\OrderData.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>